# Copyright 2026 Camptocamp SA (https://www.camptocamp.com).
# License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl).

{
    "name": "Test Bundle",
    "version": "{{ version | default('1.0.0') }}",
    "author": "Camptocamp",
    "website": "https://www.camptocamp.com",
    "depends": ["base"],
    "data": [],
}
