[conf]
template_version = 1
company_git_remote = camptocamp
# Path where odoo source code is available
odoo_src_rel_path = odoo/src
# Path where external sources are checked out
# being submodules or not.
ext_src_rel_path = odoo/external-src
local_src_rel_path = odoo/local-src
pending_merge_rel_path = pending-merges.d
version_file_rel_path = odoo/VERSION
marabunta_mig_file_rel_path = odoo/migration.yml
